
:root {
  --headertext-boxbackground: rgb(218, 199, 94);
}

/* Universal Selector */
* {
  margin:0;
  padding:0;  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-sizing: border-box;
}

header {
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color: #050706;
}

#name-header {
  position: absolute;
  background-color: var(--headertext-boxbackground);
  margin: 4px 0px 0px 0px;
  padding: 0px 10px 0px 35px;
  line-height: 50px;
}

.text-right {
  text-align: right;
}

li {
  display: inline;
  padding: 3px 25px;
  border-bottom: 6px solid var(--headertext-boxbackground);
  margin-right: 30px;
}

a {
  text-decoration: none;
  color: var(--headertext-boxbackground);
}

.header_panel {
  display: flex;
  flex: 1;
  height: 200px;
  width: 100%;
  margin-bottom: 25px;
  background-position: center;
}

.aboutme {
  display: inline-block;
}

.bodyh1 {
  display: inline-block;
  float: left;
  margin: 0 20px 50px 50px;
  min-width: 170px;
  text-align: right;
  border-right: 5px solid rgb(171, 149, 27);
  padding-right: 16px;
}

.aboutme h1 {
  padding-bottom: 50px;
}

main {
  margin-bottom: 20px;
}

main h1 {
  padding-bottom: 200px;
}

.portfolio_links {
  display: flex;
  /* Forces elements to the next line if they don't fit */
  flex-wrap: wrap;
  margin-top: 2%;
}

.card {
  flex: 0 0 0;
  position: relative;
  padding: 0px;
  border: 6px solid var(--headertext-boxbackground);
}

.card h3 {
  position: absolute;
  padding: 10px;
  background-color: var(--headertext-boxbackground);
  color: #000000;
  margin-top: 100px;
}

.card img {
  width: 100%;
  min-width: 400px;
  height: 100%;
  min-height: 265px;
}

footer h1 {
  padding-bottom: 50px;
}